@keyframes ldio-6l4fleoogwg {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-6l4fleoogwg div { box-sizing: border-box!important }
.ldio-6l4fleoogwg > div {
  position: absolute;
  width: 146px;
  height: 146px;
  top: 27px;
  left: 27px;
  border-radius: 50%;
  border: 18px solid #000;
  border-color: #f3b72e transparent #f3b72e transparent;
  animation: ldio-6l4fleoogwg 1s linear infinite;
}
.ldio-6l4fleoogwg > div:nth-child(2) { border-color: transparent }
.ldio-6l4fleoogwg > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-6l4fleoogwg > div:nth-child(2) div:before, .ldio-6l4fleoogwg > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: -18px;
  left: 46px;
  background: #f3b72e;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #f3b72e;
}
.ldio-6l4fleoogwg > div:nth-child(2) div:after { 
  left: -18px;
  top: 46px;
  box-shadow: 128px 0 0 0 #f3b72e;
}
.loadingio-spinner-dual-ring-f1vnrgalnga {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.ldio-6l4fleoogwg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6l4fleoogwg div { box-sizing: content-box; }