header {
  color: white;
  display: block;
  position: sticky;
  top: 0;
  background-color: #111032;
  padding: 0.8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.2,1.2);
}

header div a {
  color: #f4f4f4;
}

.CreateActivity a{
  display: inline-block;
  font-weight: 600;
  padding: 0.6rem;
  transition: transform 0.2s ease;
}

.CreateActivity a:hover {
  transform: scale(1.1,1.1);
}

@media screen and (max-width: 700px) {
  .LogoLyric {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: .6rem 1rem;
    justify-content: space-between;
  }

  .CreateActivity {
    margin: 0 3rem;
  }
}