

.ListaDePaginacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.4rem 1rem;
  background-color: #f4f4f4;
  font-weight: 600;
}


.ListaDePaginacion li{
  font-size: 1.2rem;
  margin: 0 0.1rem;
  list-style: none;
  /* background-color: #111032; */
}

.ListaDePaginacion li a{
  text-align: center;
  padding: 0.4rem;
  color: black;
}


.active {
  font-size: 3rem;
  color: blue;
}

.page_1 {
  text-decoration: underline;
}

.BotonesDeNavegacion {
  text-align: center;
}

.ButtomOfPaginado {
  padding: .7rem;
  margin: .3rem .5rem;
  border-radius: .2rem;
  border: none;
  font-size: .9rem;
  cursor: pointer;
  box-shadow: 3px 3px rgb(241, 233, 233);
  background-color: #111032;
  color: #f4f4f4;
  transition: transform .1s ease,  box-shadow .1s ease;
}

.ButtomOfPaginado:active {
  color: white;
  transform: translate(3px, 3px);
  box-shadow: 0px 0px rgb(238, 234, 234);
}

.PaginacionContainer h3 {
  display: inline-block;
  margin: .6rem 1rem;
  color: rgb(215, 203, 203);
  height: 30px;
  width: 60px;
  background-color: #111032;
  border-radius: 50%;
}
